.entourage-show-container{
  display: flex;
  width: 100%;

}

.entourage-pic{
  display: flex;
  width: 400px;
  height: 400px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.entourage-info{
  display: flex;
  padding-top: 50px;
  width: calc(100% - 450px);
  flex-direction: column;
}

.entourage-name{
  display: flex;
  font-size: 46px;
  letter-spacing: 10px;
}

.entourage-bio{
  display: flex;
  padding-top: 50px;
  font-size: 18px;
  letter-spacing: 1px;
}
