<!DOCTYPE html>
<html>
<head>
  <link className="icon" rel="icon" href="http://res.cloudinary.com/dfkydaeys/image/upload/v1491862508/rsz_space_elephant_mini_wxax9o.png">
  <title>NoLongeRfound</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
